DATABASE_URL=postgresql://neondb_owner:npg_wvMcWC0n4mYy@ep-restless-snow-a5nlj8lz-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=Admin@12345

# ============================================================
# EMAIL / SMTP CONFIGURATION
# ============================================================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

SMTP_USERNAME=sahilsaifi32786@gmail.com
SMTP_PASSWORD= leqezffpujjmsork

SMTP_FROM_EMAIL=sahilsaifi32786@gmail.com

SMTP_USE_TLS=true

OTP_HASH_SECRET=U9_Oq5d2LUGjlCofea46lsnRS4KO8lAQGDT6lGtF0Ok